<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 NOT FOUND</title>
    <!-- Add google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="NotFoundNotice">
        <h1>404 NOT FOUND</h1>
        <p>Sorry, the page you are looking for does not exist.</p>
        <a href="/">Go back to home</a>
        <script>
            // Optional: Redirect to home after a few seconds
            setTimeout(() => {
                window.location.href = '/';
            }, 5000);
        </script>
    </div>
</body>

</html>